.sidebar_section{
    width: 300px;
    border-right: 0.5px solid grey;
    position: relative;
    height: 100vh;
}

.sidebar_section .gn_section{
    padding: 20px;
    border-bottom: 0.5px solid grey;
    text-align: center;
}

.gn_section img{
    height: 100px;
    margin: 10px auto;
    display: block;
    border-radius: 50%;
}

.menu_section{
    position: relative;
    list-style: none;
}

.menu_section>li{
    border-bottom: 0.5px solid grey;
}

.menu_section>li:hover{
    background-color: grey;
}
.menu_section>li a{
    display: block;
    padding: 15px 20px;
}

.menu_section>li:hover a{
    color: white;
}

.menu_section>li a svg{
    margin-right: 30px;
}


.sidebar_logout{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sidebar_logout>button{
    display: block;
    width: 100%;
    padding: 15px 20px;
    background-color: transparent;
    border: none;
    border-top: 0.5px solid grey;
    cursor: pointer;;
}

.sidebar_logout>button:hover{
    background-color: grey;
    color: white;
}