.sidebar_section{
    width: 300px;
    border-right: 0.5px solid grey;
    position: fixed;
    top:0;
    bottom: 0;
}

.sidebar_section .gn_section{
    padding: 30px;
    border-bottom: 0.5px solid grey;
    text-align: center;
}

.gn_section img{
    height: 100px;
    margin: 0 auto;
    display: block;
}